.venv/
vault-password.txt
/callback_plugins/__pycache__

roles/neovim/files/lazy-lock.json
.DS_Store
roles/neovim/files/lua/aome/core/aomerc.lua
roles/karabiner/files/automatic_backups
logs

node_modules
pnpm-lock.yaml
